{% extends 'base.html' %}

{%block head%}
<title>Covid Heatmap Generator App</title>
{%endblock%}

{%block body%}
    <body id = "loginBody">
    <div class = "loginpage">
        <form class= "box" method ="POST" action ="">
            <h1>Login</h1>
            {{form.hidden_tag() }}
            {{ form.username }}
            {{ form.password }}
            {{ form.submit }}
            <a href = "/signUp">Don't have an account? Sign Up</a>
        </form>
    </div>
</body>

    
    
{%endblock%}